.navbar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 107px;
  justify-content: center;
  padding: 0px 50px;
  position: relative;
  width: 1440px;
}

.navbar .container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 38px;
  justify-content: center;
  margin-left: -3.5px;
  margin-right: -3.5px;
  position: relative;
  width: 1347px;
}

.navbar .traveller {
  height: 52px;
  position: relative;
  width: 112px;
}

.navbar .column {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 63px;
  position: relative;
}

.navbar .div {
  color: #34aff4;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navbar .text-wrapper-2 {
  color: #181818;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navbar .nav-link-dropdown {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.navbar .group-wrapper {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 12px;
  justify-content: flex-end;
  position: relative;
}

.navbar .group {
  height: 50px;
  position: relative;
  width: 435.74px;
}

.navbar .component-1 {
  left: 255px !important;
  position: absolute !important;
  top: 0 !important;
}

.navbar .notification {
  height: 32px;
  left: 128px;
  position: absolute;
  top: 10px;
  width: 35px;
}

.navbar .overlap {
  height: 35px;
  position: relative;
  top: -1px;
  width: 37px;
}

.navbar .bell-2 {
  height: 34px !important;
  left: 0 !important;
  position: absolute !important;
  top: 1px !important;
  width: 37px !important;
}

.navbar .dot {
  height: 18px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 20px;
}

.navbar .overlap-group {
  background-color: var(--lightsolid-colordangerdanger-500-base);
  border-radius: 9px;
  height: 18px;
  position: relative;
  width: 18px;
}

.navbar .text-wrapper-3 {
  color: var(--lightsolid-colorextrawhite);
  font-family: var(--light-basic-typography-paragraph-small-semi-bold-font-family);
  font-size: var(--light-basic-typography-paragraph-small-semi-bold-font-size);
  font-style: var(--light-basic-typography-paragraph-small-semi-bold-font-style);
  font-weight: var(--light-basic-typography-paragraph-small-semi-bold-font-weight);
  left: 6px;
  letter-spacing: var(--light-basic-typography-paragraph-small-semi-bold-letter-spacing);
  line-height: var(--light-basic-typography-paragraph-small-semi-bold-line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 5px;
}

.navbar .vector {
  height: 30px;
  left: 62px;
  position: absolute;
  top: 11px;
  width: 37px;
}

.navbar .ant-design-message {
  height: 35px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 8px;
  width: 33px;
}

.navbar .overlap-2 {
  height: 33px;
  left: 2px;
  position: relative;
  top: 1px;
}

.navbar .img {
  height: 29px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 29px;
}

.navbar .overlap-group-wrapper {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 20px;
}

.navbar .text-wrapper-4 {
  color: var(--lightsolid-colorextrawhite);
  font-family: var(--light-basic-typography-paragraph-small-semi-bold-font-family);
  font-size: var(--light-basic-typography-paragraph-small-semi-bold-font-size);
  font-style: var(--light-basic-typography-paragraph-small-semi-bold-font-style);
  font-weight: var(--light-basic-typography-paragraph-small-semi-bold-font-weight);
  left: 6px;
  letter-spacing: var(--light-basic-typography-paragraph-small-semi-bold-letter-spacing);
  line-height: var(--light-basic-typography-paragraph-small-semi-bold-line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 6px;
}

.navbar .avatar-image {
  height: 34px;
  left: 192px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 34px;
}
