:root {
  --black: rgba(0, 0, 0, 1);
  --light-basic-typography-paragraph-small-semi-bold-font-family: "PublicSans-SemiBold", Helvetica;
  --light-basic-typography-paragraph-small-semi-bold-font-size: 13px;
  --light-basic-typography-paragraph-small-semi-bold-font-style: normal;
  --light-basic-typography-paragraph-small-semi-bold-font-weight: 600;
  --light-basic-typography-paragraph-small-semi-bold-letter-spacing: 0px;
  --light-basic-typography-paragraph-small-semi-bold-line-height: 14px;
  --lightsolid-colordangerdanger-500-base: rgba(234, 84, 85, 1);
  --lightsolid-colorextrawhite: rgba(255, 255, 255, 1);
  --neutraldark-gray: rgba(80, 80, 80, 1);
  --text-regular-normal-font-family: "Roboto-Regular", Helvetica;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-font-style: normal;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --white: rgba(255, 255, 255, 1);
}
