:root {
  --blueblue-5: rgba(0, 122, 255, 1);
  --border-shadow-bottom: ;
  --border-shadow-left: ;
  --border-shadow-top: ;
  --componentsbuttonlightdefault: rgba(248, 249, 250, 1);
  --font-sizes-text-xs-font-family: "EloquiaText-Regular", Helvetica;
  --font-sizes-text-xs-font-size: 12px;
  --font-sizes-text-xs-font-style: normal;
  --font-sizes-text-xs-font-weight: 400;
  --font-sizes-text-xs-letter-spacing: 0px;
  --font-sizes-text-xs-line-height: normal;
  --font-weights-text-regular-font-family: "EloquiaText-Regular", Helvetica;
  --font-weights-text-regular-font-size: 14px;
  --font-weights-text-regular-font-style: normal;
  --font-weights-text-regular-font-weight: 400;
  --font-weights-text-regular-letter-spacing: 0px;
  --font-weights-text-regular-line-height: 20px;
  --font-weights-text-semibold-font-family: "EloquiaText-SemiBold", Helvetica;
  --font-weights-text-semibold-font-size: 14px;
  --font-weights-text-semibold-font-style: normal;
  --font-weights-text-semibold-font-weight: 600;
  --font-weights-text-semibold-letter-spacing: 0px;
  --font-weights-text-semibold-line-height: 18px;
  --graygray-1: rgba(242, 242, 247, 1);
  --greengreen-5: rgba(52, 199, 89, 1);
  --light-basic-typography-paragraph-font-family: "PublicSans-Regular", Helvetica;
  --light-basic-typography-paragraph-font-size: 15px;
  --light-basic-typography-paragraph-font-style: normal;
  --light-basic-typography-paragraph-font-weight: 400;
  --light-basic-typography-paragraph-letter-spacing: 0px;
  --light-basic-typography-paragraph-line-height: 22px;
  --light-basic-typography-paragraph-small-semi-bold-font-family: "PublicSans-SemiBold", Helvetica;
  --light-basic-typography-paragraph-small-semi-bold-font-size: 13px;
  --light-basic-typography-paragraph-small-semi-bold-font-style: normal;
  --light-basic-typography-paragraph-small-semi-bold-font-weight: 600;
  --light-basic-typography-paragraph-small-semi-bold-letter-spacing: 0px;
  --light-basic-typography-paragraph-small-semi-bold-line-height: 14px;
  --light-form-input-8-placeholder-default-font-family: "PublicSans-Regular", Helvetica;
  --light-form-input-8-placeholder-default-font-size: 15px;
  --light-form-input-8-placeholder-default-font-style: normal;
  --light-form-input-8-placeholder-default-font-weight: 400;
  --light-form-input-8-placeholder-default-letter-spacing: 0px;
  --light-form-input-8-placeholder-default-line-height: 24px;
  --light-gray-gray-SM: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
  --lightsolid-colordangerdanger-500-base: rgba(234, 84, 85, 1);
  --lightsolid-colorextracard-background: rgba(255, 255, 255, 1);
  --lightsolid-colorextradivider: rgba(219, 218, 222, 1);
  --lightsolid-colorextrawhite: rgba(255, 255, 255, 1);
  --lightsolid-colorprimaryprimary-500-base: rgba(115, 103, 240, 1);
  --lighttypography-colorheading-text: rgba(75, 70, 92, 1);
  --lighttypography-colormuted-text: rgba(75, 70, 92, 1);
  --lighttypography-colorplaceholder-text: rgba(75, 70, 92, 1);
  --textgray: rgba(102, 102, 104, 1);
  --textgraydark: rgba(44, 44, 46, 1);
  --white: rgba(255, 255, 255, 1);
  --whitewhite: rgba(255, 255, 255, 1);
}
